<html>
<head>
    <title>Identity</title>
</head>
<body>
    <p>
        tokenResult: <br />
        @ViewData["tokenResult"]
    </p>

    <p>
        apiResult: <br />
        @ViewData["apiResult"]
    </p>
</body>
</html>