<html>
<head>
    <title>Identity</title>
</head>
<body>
    <p>
        <strong>tokenResult: </strong><br />
        @ViewData["tokenResult"]
    </p>

    <p>
        <strong>apiResult: </strong><br />
        @ViewData["apiResult"]
    </p>
</body>
</html>